@font-face {
   font-family: "Arial Black";
   src: url("fonts/Arial Black.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Arial CE";
   src: url("fonts/Arial Narrow.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Arial CE";
   src: url("fonts/Arial Narrow.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}